GOOGLE_API_KEY=xxxx
SPREADSHEET_ID=xxxx
SAVE_SPREADSHEET_ID=xxxx
GOOGLE_SERVICE_ACCOUNT_EMAIL=xxxx
GOOGLE_SERVICE_ACCOUNT_PRIVATE_KEY=xxxx
YOUTUBE_DATA_API_KEY=xxxx
GOOGLE_CLIENT_ID=xxxx
GOOGLE_CLIENT_SECRET=xxxx
NEXTAUTH_SECRET=xxxx
NEXTAUTH_URL=http://localhost:3000
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=xxxx
NEXT_PUBLIC_GOOGLE_MAPS_MAP_ID=xxxx
AZKI_MAP_LOG_VISITED_SHEET_NAME=AZKi聖地マップ
PUBLIC_BASE_URL=http://localhost:3000
SERVER_ACTIONS_ALLOWED_ORIGINS=example.com,*.example.com
MEMBERS_ONLY_SONGS_PASSWORD=xxxx
MEMBERS_ONLY_COOKIE_SECRET=xxxx
