GOOGLE_API_KEY=xxxx
SPREADSHEET_ID=xxxx
SAVE_SPREADSHEET_ID=xxxx
GOOGLE_SERVICE_ACCOUNT_EMAIL=xxxx
GOOGLE_SERVICE_ACCOUNT_PRIVATE_KEY=xxxx
YOUTUBE_DATA_API_KEY=xxxx
PUBLIC_BASE_URL=http://localhost:3000
