@import "tailwindcss";
@import "flowbite/src/themes/default";
@import "overlayscrollbars/overlayscrollbars.css";
@plugin "flowbite-react/plugin/tailwindcss";
@plugin "flowbite/plugin";
@source "../../.flowbite-react/class-list.json";
@source "../node_modules/flowbite";

@theme {
  --color-primary-50: #fdf2f7;
  --color-primary-100: #fce7f0;
  --color-primary-200: #fbcfe1;
  --color-primary-300: #f9a8ca;
  --color-primary-400: #f472a8;
  --color-primary-500: #ec488c;
  --color-primary-600: #db2772;
  --color-primary-700: #be185d;
  --color-primary-800: #9d174f;
  --color-primary-900: #831844;
  --color-primary-950: #500725;
  --color-primary: var(--color-primary-700);
  --bg-primary: var(--color-primary-700);

  /* --color-primary-light-50: #fbf4f7;
    --color-primary-light-100: #f8ebf0;
    --color-primary-light-200: #f0cadb;
    --color-primary-light-300: #ebb6cd;
    --color-primary-light-400: #de88ab;
    --color-primary-light-500: #d0648c;
    --color-primary-light-600: #bc466c;
    --color-primary-light-700: #a23455;
    --color-primary-light-800: #862e46;
    --color-primary-light-900: #712a3e;
    --color-primary-light-950: #441321;
    --color-primary-light:var(--bg-primary-light-200);
    --bg-primary-light:var(--bg-primary-light-200); */

  --color-secondary-50: #fdf2fb;
  --color-secondary-100: #fbe8f8;
  --color-secondary-200: #fad0f4;
  --color-secondary-300: #f6abe9;
  --color-secondary-400: #f076d9;
  --color-secondary-500: #e74dc5;
  --color-secondary-600: #d941b0;
  --color-secondary-700: #b81e8a;
  --color-secondary-800: #991b72;
  --color-secondary-900: #7f1c60;
  --color-secondary-950: #4e0938;
  --color-secondary: var(--color-secondary-700);

  --breakpoint-3xl: 100rem;
  --breakpoint-4xl: 140rem;
}

@custom-variant dark (&:where(.dark, .dark *));

/** Next.jsのImageのfillを上書きして画像をoutfitにする */
.outfit-image {
  object-fit: contain;
  position: relative !important;
  width: auto !important;
}

:root {
  --font-sans: "Noto Sans JP", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
